{% extends 'core/base.html' %}

<!-- Titulo de pestaña -->
{% block title %}
About
{% endblock %}
<!-- Titulo de pestaña -->

<!-- background -->
{% block background-image %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
<!-- background -->

{% block headers-cabecera %} 
	<h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

<!-- contenido -->
{% block content %}
<div class="container">	  
	<div class="row">  	      
		<div class="col-lg-3 col-md-4 offset-lg-1">
			<img class="img-fluid avatar" src="{% static 'core/img/crltsMrtnz.jpg' %}" alt="">
		</div>
		<div class="col-lg-7 col-md-8">
			<h2 class="section-heading">Carlos Martínez</h2>
			<p>Nacido en... lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
		</div>
	</div>
</div>
{% endblock %}
<!-- contenido -->
